.signup-container {
    margin-top: 20px;
}

button {
    min-width: 135px;
    height: 35px;
    border-radius: 18px;
}

p {
    font-size: 14px;
    color: #FFFFFF;
}
/* .error { color: red;
} */
[data-feedback].error {
    color: red;
  }
  [data-feedback].warning {
    color: orange;
  }
  [data-feedback].info {
    color: blue;
  }
  [data-feedback].when-valid {
    color: green;
  }
  