.design-background {
    filter: blur(15px);
    /* Removes the white edges for the blurred background image*/
    position: fixed;
    left: -15px;
    top:-15px;
    bottom:-15px;
    right: -15px;
    margin:-15px;
    z-index: -5;
}

.style-config-col {
    align-self: center;
}

.style-card {
    max-width: 385px !important;
    height: 620px;
    background-color: #444444;
    align-items: center;
    padding: 0 !important;
    border: none !important;
}

.select-style-container {
    padding-top: 25px;
    background-color: #FFFFFF;
}

.style-title {
    color: #10A2DC;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 15px;
}

.select-style-row {
    margin: 0 !important;
}

.style-img-container {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    max-width: 147px;
    max-height: 175px;
    padding:10px;
    cursor: pointer;
}

.style-img-container.active {
    border: 2px solid #10A2DC;
    padding: 9px;
}

.style-description {
    color: #444444;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

/* For catalog bootstrap tabs */
.style-tabs-container {
    width: 100%;
}
.style-tabs {
    background-color: #444444;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -1px;
}
.style-tabs li .nav-link{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #CDCDCD !important;
    border-style:none;
    cursor: pointer;
}

.style-tabs li .nav-link.active {
    color: #FFFFFF !important;
    border-bottom: 2px solid #10A2DC !important;
    background-color: transparent !important;
}

.img-configurator {
    max-width: 700px !important;
    margin-top: 20px !important;

}

.graphic-img, .shirt-text {
    position: absolute;
}

.graphic-img {
    left: 26%;
    top: 12%;
    width: 310px;
}

.shirt-text {
    width: 220px;
    left: 32%;
    top: 48%;
    font-size: 45px;
    text-align: center;
}



